/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol ,li {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff;
    width:100%;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff3253;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.contain {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot');
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont/iconfont.woff') format('woff'),
    url('iconfont/iconfont.ttf') format('truetype'),
    url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/*顶部通栏  top*/
.top {
    height: 40px;
    background: #f9f9f9;
}
    .top-box {
        height: 40px;

    }
        .top-left {
            width: 75px;
            height: 40px;
            line-height:40px;

        }
            .top-left img {
                width: 20px;
                height: 16px;
                float:left;
                margin-top:10px;
            }
            .top-left p {
                color:#999999;
            }
        .top-right{
            width: 566px;
            height: 40px;

            line-height:40px;

        }
            .top-right a,span {
                color:#999999;
                padding:0 3px;
                
            }
                .top-right a:hover {
                    color:#ff3253;
                }
            .weixin{
                margin-right:11px;
            }
            .weibo{
                margin-right:2px;
            }


    /*logo开始*/
.logo {
    height: 100px;

}
    .logo-left {
        width: 480px;
        line-height:100px;
    }
        .logo-left img  {
            width: 140px;
            height: 45px;
            display:inline-block;
            margin-top:-9px;
        }
        .logo-left p {
            display:inline-block;
            font-size:20px;
            font-family:微软雅黑;
            margin-left:12px;
            color:#313131;
        }
    .logo-right {
        width: 460px;
        height: 100px;
    }
        .logo-right1 {
            width: 138px;
            height: 40px;
            border: 1px #dddddd solid;
            margin-top: 28px;
            background: #f9f9f9;
            line-height:40px;
        }
            .logo-right1 a {
                color:#2e2e4f;
            }
            .logo-right1-zi{
                margin-left:12px;

            }
        .logo-right2 {
            width: 248px;
            height: 37px;
            border: 2px #ff3253 solid;
            margin-top: 28px;
            margin-left: 27px;
            color: #919191;
            background: #fff;
        }
          .logo-right2 input {
              width: 234px;
              height: 37px;
              color: #919191;
              margin-left: 14px;
          }
        .logo-right3 {
            width: 40px;
            height: 41px;
            background: #ff3253;
            margin-top: 28px;
            line-height:40px;
        }
            .logo-right3 img {
                width: 20px;
                height: 20px;
            }


/*nav开始*/
.nav {
    height: 47px;
    overflow:hidden;/*防止子盒子位置错乱*/
}
    .nav-left{
        width: 210px;
        height: 48px;
        background: #ff3253;
        line-height: 48px;
        overflow: hidden;
    }
        .nav-left img {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-left: 30px;
            margin-top: 15px;
            float: left;

        }
        .nav-left p a {
            display:inline-block;
            float: left;
            color: #ffebff;
            font-size: 17px;
            font-family: 微软雅黑;
            margin-left: 20px;
        }
    .nav-right {
        width: 785px;
        height: 48px;
        position: relative;
    }
        .nav-right img{
            display:inline-block;
            position: absolute;
            left: 290px;
        }
        .nav-right a {
            font:16px/48px 微软雅黑;
            padding: 0 19px;
        }
            .nav-right span:hover {
                color: #ff3253;
            }


    /*footer1开始*/
.footer1{
    height: 111px;

    border-bottom: 1px #dddddd solid;
}
    .footer1-box{
        height: 111px;

    }
        .footer1-box img {
            
            display: block;
            float: left;
        }
/*footer2开始*/
.footer2 {
    height: 222px;
    border-bottom: 1px #dddddd solid;
}

        .footer2-left {
            width: 947px;
            height: 222px;

        }
            .footer2-left-list {
                width: 158px;
                height: 175px;
                line-height: 28px;
                margin-top: 40px;
                margin-left: 22px;
            }
                    .footer2-left-list a {
                        display:inline-block;
                        font:12px/28px 微软雅黑;
                        margin-left: 30px;
                        color: #7d7d7d;
                    }
                        .footer2-left-list a:hover {
                            color: #ff3253;
                        }

        .footer2-right {
            width: 250px;
            height: 222px;
        }
            .footer2-right img {
                width: 73px;
                height: 73px;
                background: black;
                margin-top: 50px;
            }
            .footer2-right p {
                margin-top: 25px;
                font-size: 12px;
                color: #929292;
            }
            .footer2-right h1 {
                color: #ff3253;
                font-size: 24px;
                margin-top: 13px;
            }
/*footer3开始*/
.footer3 {
    height: 213px;

    overflow: hidden;
}
    .footer3-one {
        width: 850px;
        height: 14px;

        margin: 0 auto;
    }
        .footer3-one a {
            display:inline-block;
            font-size: 14px;
            font-family: 微软雅黑;
            padding: 0 25px;
            margin-top: 30px;
            color: #333333;

        }
        .footer3-one a:hover {
            color: #ff3253;
        }
    .footer3-two {
        margin-top: 70px;
    }
        .footer3-two i {
            font-size: 12px;
            color: #333333;
            margin-left: 10px;
        }
        .footer3-two a{
            font-size: 12px;
            color: #858585;
        }
            .footer3-two a:hover {
                color: #ff3253;
            }
    .footer3-three {
        width: 620px;
        margin: 0 auto;

    }
        .footer3-three span {
            color: #858585;
            font: 12px/30px 微软雅黑;
            padding: 0 30px;
        }
    .footer3-four {
        width: 430px;
        margin: 0 auto;
        margin-top: 15px;

    }
        .footer3-four i {
            display: inline-block;
           font-size: 22px;
            border-radius: 50%;
            
        }
        .footer3-four a {
            display:inline-block;
            margin-left: 10px;
            color:#333;
            font:12px/35px 微软雅黑;
        }
            .footer3-four a:hover {
                color: #ff3253;
            }
        .icon-wz,.icon-qq,.icon-fx {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: #f2f2f2;
            border-radius: 50%;
            line-height:35px;
            text-align: center;
            margin-left: 40px;
        }


