.center {
    height: 1260px;
    background: #fafafa;
    border-bottom: 1px #dddddd solid;
    border-top: 1px #ff3253 solid;
}
    .centerBox {
        height: 1150px;
        margin-top: 30px;
    }

        .centerBox-right{
            height: 1150px;
            width: 950px;
            background: #fff;
            border: 1px #dcdcdc solid;
        }
            .centerBox-right-main {
                width: 860px;
                margin: 0 auto;
                margin-top: 66px;
            }
                .centerBox-right-main-top {
                    width: 700px;
                    height: 50px;
                    border-top: 1px #e8e8e8 solid;
                    border-bottom: 1px #e8e8e8 solid;
                    line-height: 50px;
                    color: #333333;
                    font-size:20px;
                    margin: 0 auto;
                    font-weight: bolder;
                }
                .come {
                    color: #909090;
                    margin-top: 20px;
                }
                .hang {
                    margin-top: 50px;
                    line-height: 35px;
                }
            .next {
                height: 72px;
                width: 860px;
                border-top: 1px #e8e8e8 solid;
                margin-top: 30px;
                line-height: 72px;
            }
                .button {
                    display:inline-block;
                    width: 104px;
                    height: 32px;
                    background: #ff3253;
                    margin-top: 22px;
                    line-height: 32px;
                    border-radius:2px;
                }
                    .button a {
                        color: #fff;
                        font-weight: bolder;
                    }