.center {
    height: 900px;
    background: #fafafa;
    border-bottom: 1px #dddddd solid;
    border-top: 1px #ff3253 solid;
}
.centerBox {
     height: 790px;
     margin-top: 30px;
 }
    .centerBox-right {
        height: 790px;
        width: 950px;
        background: #fff;
        border: 1px #dcdcdc solid;
    }
            .centerBox-right-list {
                width: 830px;
                height: 680px;
                margin: 0 auto;
                margin-top: 20px;
            }

                .liClass {
                    height: 50px;
                    border-bottom: 1px #e8e8e8 solid;
                    line-height: 50px;
                }
                    .liClass a {

                    }