.center {
    height: 1260px;
    background: #fafafa;
    border-bottom: 1px #dddddd solid;
    border-top: 1px #ff3253 solid;
}
    .centerBox {
        height: 1150px;
        margin-top: 30px;
    }

        .centerBox-right{
            height: 1150px;
            width: 950px;
            background: #fff;
            border: 1px #dcdcdc solid;
        }
            .centerBox-right-main {
                width: 860px;
                margin: 0 auto;
                background: #000;
                margin-top: 66px;
            }
                .centerBox-right-main-top {
                    width: 700px;
                    height: 50px;
                    border-top:1px #e8e8e8 solid;

                }