/*初始化*/
		body,div,ul,p,h1,li{
			margin: 0;
			padding: 0;
			font: 12px 宋体;

		}
		img,input {
			border:0 none;

		}
		input,select,option {
			outline-style:none;
		}
		a {
			color:#000;
			text-decoration:none;
		}
		ul,li {
			list-style: none;
		}

#hidden {
	display:none;
}
.top {
	
	height: 30px;
	background: #212226;
	margin:0 auto;
}
	.welcome {
		height: 28px;
		width: 1000px;
		/*border:1px red solid;*/
		background: #212226;
		margin: 0 auto;
	}
	 .welcome p {
	 	color: white;
	 	font-size: 12px;
	 	line-height: 30px;
	 	font-family: 微软雅黑;
	 }

.logo {
	width: 1000px;
	height: 100px;
	/*border:1px black solid;*/
	margin: 0 auto;
}
	.logo-tu {
		
		height: 100px;
		/*background: yellow;*/
		float: left;
		line-height: 100px;
	}
	.logo-phone {
		width: 280px;
		height: 100px;
		/*background: yellow;*/
		float: right;
	}
		.logo-phone img {
			width: 36px;
			height: 36px;
			margin-top: 34px;
			float: left;
		}
		.logo-phone p {
			color: #323338;
			font-size: 28px;
			font-family: 微软雅黑;
			margin-top: 34px;
			float: left;
			margin-left: 15px;
		}

.nav {
	height: 50px;
	background: #212226;
	position: relative;
}
	.nav-con {
		width: 1000px;
		height: 50px;
		
		margin: 0 auto;
		background: #212226;
		
	}
		
		.nav-con a {
					font: 12px/50px 微软雅黑;
					color: #333;
					display: inline-block;
					
					padding: 0 11.8px;
					color: white;
					font-weight: bolder;
				}
				.nav-con a:hover {
					background: #999;
				}
			/*横线*/
			.tooltips1 {
			position: relative; 
			z-index: 2;
			}
			.tooltips1 span {
			display: block;
			position: absolute;
			top: 48px;
			left: 0px;
			width: 44px;
			height: 2px;
			background: red;
			}






.tu {
	min-height: 400px;
	width:100%;
	/*border:1px #eee solid;*/
	margin-top: -2px;
	margin: 0 auto;
	background: url(../images/banner.jpg) no-repeat center top;


}
	.pf1 {
		position: fixed;
		right: 20px;
		bottom: 90px;
		z-index: 5;	}
	.pf2 {
		position: fixed;
		right: 20px;
		bottom: 20px;
		z-index: 5;
	}
	.tu-b {
		height: 40px;		
		margin: 0 auto;
		position: relative;
	}
		.tu-l {
			position: absolute;
			top: 170px;
			left: 20px;
		}
		.tu-r {
			position: absolute;
			top: 170px;
			right: 20px;
		}

.gonggao {
	width: 994px;
	height: 54px;
	border: 3px #e7e7e7 solid;
	margin: 0 auto ;
	margin-top: 25px;
	
}
	.gonggao img {
		margin: 17px 0 0 17px;
		float: left;
	}

	.gonggao-z a {
		display: inline-block;
		font-size: 14px;
		color: #353136;
		font-family: 微软雅黑;
		font-weight: bolder;
		margin-left: 13px;
		line-height: 54px;
	}
		.gonggao-z a span {
			font-size: 16px;
			color: #353136;
		}

.workClothes {
	width: 1000px;
	height: 605px;
	/*border:1px yellow solid;*/
	margin: 0 auto;
	margin-top: 35px;
}
	.workClothes-1 {
		height: 105px;
		width: 1000px;
		/*border:1px red solid;*/
	}
		.workClothes-1-l {
			width: 640px;
			height: 70px;
			/*border:1px black solid;*/
			float: left;
		}
			.b {
				height: 66px;
				width: 6px;
				background-color: #212226;
				border-radius: 3px;
				margin-top: 2px;
				float: left;

			}
			.workClothes-1-l-z {
				float: left;

				width: 400px;
				height: 66px;
				margin-left: 16px;
			}
				.workClothes-1-l-z span {
					font-size: 24px;
					color: #353136;
					font-family: 微软雅黑;
				}
				.workClothes-1-l-z p {
					
					color: #6b6b6b;
					font: bolder 14px/20px "Microsoft Yahei";
					
				}
		.workClothes-1-r {
			width: 320px;
			height: 43px;
			border: 1px #ebebeb solid;
			float: right;
			
		}
			
				.workClothes-1-r input[type=text] {
					width: 142px;
					height: 38px;
					
					margin-top: -3px;
					margin-left: -10px;
					color: #c4c4c4;
				}
					.workClothes-1-r input[value] {
						margin-left: 7px;
						font: 12px/0 微软雅黑;

					}
				.workClothes-1-r select {
					width: 100px;
					height: 38px;
					border: none;
					margin-top: -2px;
					
					/*margin-top: -2px;
					margin-left: -4px;*/
					color: #5a5a5a;
					font: 12px/0 微软雅黑;
					/*小三角部分*/

					padding-right:5px;


				}
				.hx {
					width: 1px;
					height: 40px;
					border-left: 1px #ebebeb solid;
					
				}
					
				.sousuo {
					margin-left: 15px;
				}
				
			
	.workClothes-2 {
		width: 1003px;
		height: 30px;
		/*border:1px black solid;*/
		margin-left: -4px;
	}
		.workClothes-2 span {
			color: #6b6b6b;
			display: inline-block;
			width: 96.7px;
			height: 28px;
			border: 1px #e7e7e7 solid;
			margin: 0 3.3px;
			text-align: center;
			
		}
			.workClothes-2 span a {
				color: #6b6b6b;
				font: bolder 14px/30px "Microsoft Yahei";
			}

	.workClothes-3 {
		width: 1000px;
		height: 365px;
		/*border:1px red solid;*/
		margin-top: 32px;
	}
		.workClothes-3-l {
			width: 488px;
			height: 365px;
			
			background: url(../images/1.jpg) no-repeat left top;
			float: left;
			
		}
		.workClothes-3-r {
			width: 498px;
			height: 186px;
			
			float: left;
			margin-left: 12px;
		}
			.workClothes-3-r-top-one {
				width: 244px;
				height: 186px;
				
				background: url(../images/2.jpg) no-repeat left top;
				float: left;
			}
			.workClothes-3-r-top-two {
				width: 244px;
				height: 186px;
				
				background: url(../images/2.jpg) no-repeat left top;
				float: left;
				margin-left: 10px;
			}
		.workClothes-3-r-bottom {
			width: 498px;
			height: 170px;			
			margin-top: 10px; 
			background: url(../images/4.jpg) no-repeat left top;
			float: left;
		}

	.workClothes-4 {
		width: 154px;
		height: 34px;
		border: 3px #dcdcdc solid;
		margin: 0 auto;
		margin-top: 31px;
		text-align: center;
	}
		.workClothes-4 a {
			color: #787878;
			font: 14px/34px "Microsoft Yahei";
		}

.example {
	height: 540px;
	background: url(../images/mh.png) no-repeat center top;
	margin: 0 auto;
	margin-top: 35px;
	overflow: hidden;/*嵌套块元素垂直外边距的合并 问题*/
	
}
	.example span {
		font: 14px/30px "Microsoft Yahei";
	}
	.example-box {
		width: 1000px;
		height: 450px;
		/*border:1px red solid;*/
		margin: 0 auto;
		margin-top: 55px;
		position: relative;
	}
		.example1 {
			width: 640px;
			height: 70px;
			/*border:1px black solid;*/
			float: left;
		}
			.example1-b {
				height: 66px;
				width: 6px;
				background-color: #212226;
				border-radius: 3px;
				margin-top: 2px;
				float: left;

			}
			.example1-z {
				float: left;
				width: 400px;
				height: 66px;
				margin-left: 16px;
			}
				.example1-z span {
					font-size: 24px;
					color: #353136;
					font-family: "Microsoft Yahei";
				}
				.example1-z p {
					color: #6b6b6b;
					font: 14px/20px "Microsoft Yahei";
					
				}
		.example2 {
			width: 1000px;
			height: 230px;
			/*border:1px red solid;*/
			margin-top: 45px;
			float: left;
			/*clear:both;/*清除浮动*/
			
		}
			.example2-box1 {
				width: 200px;
				height: 230px;
				/*border:1px red solid;*/
				float: left;
				text-align: center;
			}
				.one {
					height: 200px;
					width: 200px;
					/*border:1px red solid;*/
					border-radius: 50%;
					float: left;
					background: url(../images/3.jpg) no-repeat top center;
				}
			.example2-box2 {
				width: 200px;
				height: 230px;
				/*border:1px red solid;*/
				float: left;
				margin-left: 66px;
				text-align: center;
			}
				.two {
					height: 200px;
					width: 200px;
					/*border:1px red solid;*/
					border-radius: 50%;
					float: left;
					
					background: url(../images/3.jpg) no-repeat top center;
				}
			.example2-box3 {
				width: 200px;
				height: 230px;
				/*border:1px red solid;*/
				float: left;
				margin-left: 66px;
				text-align: center;
			}
				.three {
					height: 200px;
					width: 200px;
					/*border:1px red solid;*/
					border-radius: 50%;
					float: left;
					background: url(../images/3.jpg) no-repeat top center;
				}
			.example2-box4 {
				width: 200px;
				height: 230px;
				/*border:1px red solid;*/
				float: left;
				margin-left: 66px;
				text-align: center;
			}
				.four {
					height: 200px;
					width: 200px;
					/*border:1px red solid;*/
					border-radius: 50%;
					float: left;
					background: url(../images/3.jpg) no-repeat top center;
				}

		
		.example3 {
			width: 158px;
			height: 38px;
			border: 1px #676b70 solid;
			/*float:left;*/
			/*margin: 0 auto;*/
			/*margin-top: 65px;*/
			/*margin-left: 420px;*/
			position: absolute;
			top: 410px;
			left: 420px;
			text-align: center;

		}
			.example3 a {
			color: #6b6b6b;
			font: 16px/38px "Microsoft Yahei";

		}
		.example4 {
			width: 50px;
			height: 50px;
			position: absolute;
			left: -75px;
			top: 200px;
			opacity: 0.7;
		}
		.example5 {
			width: 50px;
			height: 50px;		
			position: absolute;
			left: 1025px;
			top: 200px;
			opacity: 0.7;
		}

	.young {
		height: 550px;
		width: 100%;
		margin: 0 auto;
		background: url(../images/young.png) no-repeat center top;
		margin-top: -3px;
		text-align: center;

	}
		/*？？？*/
		.young-box{
			width: 1000px;
			height: 550px;
			
			margin: 0 auto;
			position: relative;
		}
			.young-box-clear {
				width: 158px;
				height: 38px;
				border: 1px #eee8e8 solid;
				margin: 0 auto;
				position: absolute;
				top: 355px;
				left: 250px;
				margin-bottom: 112px;
			}
			.young-box-clear a {
				color: #eee8e8;
				font: 16px/38px "Microsoft Yahei";

			}

	.about {
		width: 988px;
		height: 438px;
		border: 6px #212226 solid;
		margin: 0 auto;
		margin-top: 52px;
		position: relative;
	}
		.about1 {
			width: 712px;
			height: 10px;			
			background: #fff;	
			position: absolute;
			top: -8px;
			left: 240px;
		}
		.about2 {
			width: 712px;
			height: 10px;			
			background: #fff;	
			position: absolute;
			top: 436px;
			left: 52px;
		
		}
		.about-l {
			width: 488px;
			height: 365px;
			background: url(../images/about.jpg) no-repeat center top;
			margin-top: 35px;
			margin-left: 30px;
			float: left;
		}
		.about-r {
			width: 395px;
			height: 340px;
			
			float: left;
			margin-top: 35px;
			margin-left: 35px;
		}
			.about-r-1 {
				height: 85px;
				width: 395px;
				border-bottom: 1px #a6a7a8 dotted;
			}
				.about-r-1 span {
					font-size: 24px;
					color: #353136;
					font-family: "Microsoft Yahei";
				}
				.about-r-1 p {
					display: inline-block;
					margin-top: 9px;
					color: #6b6b6b;
					font: 14px/20px "Microsoft Yahei";
					
				}
			.about-r-2 {
				height: 200px;
				width: 395px;
				
				margin-top: 11px;
			}
				.about-r-2 p {
					font: 14px/30px "Microsoft Yahei";
				}
			.about-r-3 {
				width: 158px;
				height: 38px;
				border: 2px #dcdcdc solid;

				text-align: center;
			}
				.about-r-3 a {
					color: #6b6b6b;
					font: 16px/38px "Microsoft Yahei";
				}
	
	.company {
		height: 555px;
		background: url(../images/company.png) no-repeat center top;
		margin-top: 38px;
		overflow: hidden;
	}
		.company-box {
			width: 1000px;
			height: 465px;
			
			margin: 0 auto;
			margin-top: 55px;
			position: relative;
		}
			.company-box-one {
				float: left;
				width: 1000px;
				height: 70px;
				margin-left: 16px;
			}
				.company-box-one-b {
				height: 66px;
				width: 6px;
				background-color: #212226;
				border-radius: 3px;
				margin-top: 2px;
				float: left;
				margin-left: -15px;
				/*overflow:hidden;*/

			}
				.company-box-one-z {
					float: left;
					width: 400px;
					height: 66px;

					margin-left: 2px;
					margin-top: -4px;
				}
					.company-box-one-z span {
						font-size: 24px;
						color: #353136;
						font-family: "Microsoft Yahei";
					}
					.company-box-one-z p {
						color: #6b6b6b;
						font: 14px/20px "Microsoft Yahei";
						
					}

			.company-box-two {
				width: 1000px;
				height: 300px;
				
				float: left;
				margin-top: 30px;
				
			}
				.company-box-two-1 {
					width: 485px;
					height: 140px;
					
					float: left;
					background: #fff;
				}
					.company-box-two-1 img {
						width: 155px;
						height: 115px;
						/*background: url(../images/c1.jpg) no-repeat center top;*/
						margin-top: 14px;
						margin-left: 6px;
						float: left;
					}
					.company-box-two-1-zi {
						width: 295px;
						height: 70px;
						
						float: left;
						margin-left: 15px;
						margin-top: 35px;
					}
						.company-box-two-1-zi h1 a {
							color: #313136;
							font-weight: bolder;
							font-size: 20px;
							font-family: "Microsoft";
						}
						.company-box-two-1-zi p a {
							display: inline-block;
							margin-top: 5px;
							color: #6b6b6b;
							font: 14px/26px "Microsoft";
						}
				.company-box-two-2 {
					width: 485px;
					height: 140px;
					
					float: left;
					margin-left: 30px;
					background: #fff;
				}
					.company-box-two-2 img {
						width: 155px;
						height: 115px;
						/*background: url(../images/c1.jpg) no-repeat center top;*/
						margin-top: 14px;
						margin-left: 6px;
						float: left;
					}
					.company-box-two-2-zi {
						width: 295px;
						height: 70px;
						
						float: left;
						margin-left: 15px;
						margin-top: 35px;
					}
						.company-box-two-2-zi h1 a {
							color: #313136;
							font-weight: bolder;
							font-size: 20px;
							font-family: "Microsoft";
						}
						.company-box-two-2-zi p a {
							display: inline-block;
							margin-top: 5px;
							color: #6b6b6b;
							font: 14px/26px "Microsoft";
						}
				.company-box-two-3 {
					width: 485px;
					height: 140px;
					
					float: left;
					margin-top: 20px;
					background: #fff;
				}
					.company-box-two-3 img {
						width: 155px;
						height: 115px;
						/*background: url(../images/c1.jpg) no-repeat center top;*/
						margin-top: 14px;
						margin-left: 6px;
						float: left;
					}
					.company-box-two-3-zi {
						width: 295px;
						height: 70px;
						
						float: left;
						margin-left: 15px;
						margin-top: 35px;
					}
						.company-box-two-3-zi h1 a {
							color: #313136;
							font-weight: bolder;
							font-size: 20px;
							font-family: "Microsoft";
						}
						.company-box-two-3-zi p a {
							display: inline-block;
							margin-top: 5px;
							color: #6b6b6b;
							font: 14px/26px "Microsoft";
						}
				.company-box-two-4 {
					width: 485px;
					height: 140px;
					
					float: left;
					margin-left: 30px;
					margin-top: 20px;
					background: #fff;

				}
					.company-box-two-4 img {
						width: 155px;
						height: 115px;
						/*background: url(../images/c1.jpg) no-repeat center top;*/
						margin-top: 14px;
						margin-left: 6px;
						float: left;
					}
					.company-box-two-4-zi {
						width: 295px;
						height: 70px;
						
						float: left;
						margin-left: 15px;
						margin-top: 35px;
					}
						.company-box-two-4-zi h1 a {
							color: #313136;
							font-weight: bolder;
							font-size: 20px;
							font-family: "Microsoft";
						}
						.company-box-two-4-zi p a {
							display: inline-block;
							margin-top: 5px;
							color: #6b6b6b;
							font: 14px/26px "Microsoft";
						}
			
			.company-box-three {
				width: 158px;
				height: 38px;
				border: 1px #676b70 solid;
				margin: 0 auto;
				text-align: center;
				position: absolute;
				top: 425px; 
				left: 420px;
			}
				.company-box-three a {
					color: #222222;
					font: 16px/38px "Microsoft Yahei";
				}

		/*??????????????????????????????????????????????????*/
		.company-zj {
			
			position: absolute;
			left: -80px;
			top: 230px;
			opacity: 0.8;

		}
		.company-yj {
			position: absolute;
			left: 1060px;
			top: 225px;
			opacity: 0.8;

		}

	.do {
		height: 273px;
		background: #f2f2f2;
		overflow: hidden;
		border-bottom: 1px #e5e5e5 solid;
	}	
		.do-top {
			width: 1000px;
			height: 55px;			
			margin: 0 auto;
			margin-top: 30px;
		}


			.do-top-b {
				height: 50px;
				width:6px;
				background-color: #212226;
				border-radius: 3px;
				margin-top: 2px;
				float: left;

			}
			.do-top-z {
				float: left;
				width: 400px;
				height: 55px;
				margin-left: 16px;
				float: left;
			}
				.do-top-z span {
					font-size: 24px;
					color: #353136;
					font-family: "Microsoft Yahei";
				}
				.do-top-z p {
					color:#6b6b6b;
					font: 14px/20px "Microsoft Yahei";
					
				}
		.do-bottom {
			width: 960px;
			height: 100px;
			margin: 0 auto;
			margin-top: 35px;
			
			background: url(../images/lc.png) no-repeat center top;
		}

	.friendLink {
		height: 80px;
		width: 1000px;
		margin: 0 auto;
		border-bottom:1px #e5e5e5 solid;
		background: #fff;
	}
		.friendLink p,.friendLink p a,.friendLink p a span{line-height: 80px;
			color: #7d7d7d;
			font-size: 16px;
			font-family: 微软雅黑;
			}
			.friendLink p a span {
				font-weight: bolder;
			}

	.last {
		height: 385px;
		background: #212226;
		overflow:hidden;
	}
		.last-box {
			width: 1000px;
			height: 310px;
			
			margin: 0 auto;
			margin-top: 25px;
		}
			.last-box-nav {
				width: 1000px;
				height: 40px;
				background: #28292c;
			}
				.last-box-nav a {
					font:12px/40px 微软雅黑;
					color:#666666;
					display:inline-block;					
					padding:0 13.9px;
					color:white;
					}
					.last-box-nav a:hover {
						background: #999;
					}
			.last-box-bottom  {
				width: 980px;
				height: 240px;
				
				margin-top: 30px;
			}
				.last-box-bottom-one {
					width: 456px;
					height: 240px;
					
					float:left;
				}
					.last-box-bottom-one-1 {
						height: 99px;
						width: 456px;
						border-bottom:1px #46484b solid;
					}
						.last-box-bottom-one-1 h1 {
							font:40px/45px 微软雅黑;
							color:#c2c2c2;
						}
						.dd {
							
							margin-top: 10px;
							margin-left: 4px;
							float:left;
						}

							.ss {
								
								float:left;
								margin-top: 12px;
								margin-left: 6px;
							}
								.ss a {color:#c2c2c2;
								font:14px/0 微软雅黑;}

					.last-box-bottom-one-2 {
						height: 95px;
						width: 456px;
						
						margin-top: 28px;
					}
						.dt {
							float:left;
							
						}
						.wz {
							margin-top: 6px;
							margin-left: 6px;
							float:left;
						}
							.wz a {
								color:#c2c2c2;
								font:14px/0 微软雅黑;
							}
						.zt {
							width: 456px;
							height: 70px;
							
							float:left;
							margin-top: 15px;
						}
							.zt p {
								font:12px/30px 微软雅黑;
								color:#c2c2c2;
							}
							.zt p a {
								font:12px/30px 微软雅黑;
								color:#c2c2c2;
							}
								.zt p a:hover {
									color:#999;
								}	

				.last-box-bottom-two {
					width: 195px;
					height: 240px;
					
					float:left;
					margin-left: 95px;
					margin-top: -10px;
				}
					.last-box-bottom-two p {
						font:22px/43px Georgia;
						color:#fafafa;

					}
					.last-box-bottom-two span {
						font:16px 微软雅黑;
						color:#fafafa;
					}
					.last-box-bottom-two img {
						display:inline-block;
						margin-top: 20px;
						margin-left: 2px;
					}

				.last-box-bottom-three {
					width: 195px;
					height: 175px;
					
					float:right;
					margin-top: -10px;
					
				}
					.last-box-bottom-three p {
						font:22px/43px Georgia;
						color:#fafafa;
					}
					.last-box-bottom-three span {
						display:inline-block;
						margin-top: 10px;
						font:16px 微软雅黑;
						color:#fafafa;
					}
					.tt {
						width: 175px;
						height: 125px;
						
						margin-top: 15px;
					}
						.tt-one,.tt-two,.tt-three,.tt-four,.tt-five,.tt-six,.tt-seven,.tt-eight,.tt-nine,.tt-ten,.tt-eleven,.tt-twleve{
							width: 32px;
							height: 32px;
							background: red;
							float:left;
						}
						.tt-one {
							background: url(../images/icons.png) no-repeat 0px 0px;
						}
						.tt-two {
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -53px;
						}
						.tt-three {
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -105px;
						}
						.tt-four {
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -156px;							

						}
						.tt-five {
							margin-top: 15px;
							background: url(../images/icons.png) no-repeat 0px -209px;
						}
						.tt-six {
							margin-top: 15px;
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -261px;
						}
						.tt-seven {
							margin-top: 15px;
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -313px;
						}
						.tt-eight {
							margin-top: 15px;
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -365px;
						}
						.tt-nine {
							margin-top: 15px;
							background: url(../images/icons.png) no-repeat 0px -417.7px;
						}
						.tt-ten {margin-top: 15px;
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -469px;
						}
						.tt-eleven {margin-top: 15px;
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -520px;
						}
						.tt-twleve {margin-top: 15px;
							margin-left: 15px;
							background: url(../images/icons.png) no-repeat 0px -573px;
						}